doctype html
html
  head
    title= Riffy
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
  body(ng-app="riffyApp")
    include currentUser
    block main-content
    include scripts