script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/app/app.js")

//controllers  
script(type="text/javascript" src="/app/login/loginController.js")
script(type="text/javascript" src="/app/profile/profileController.js")
script(type="text/javascript" src="/app/profile/playlistController.js")


//services
script(type="text/javascript" src="/app/login/loginService.js")

