script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")

//controllers
script(type="text/javascript" src="/app/shell/shellController.js")
script(type="text/javascript" src="/app/login/loginController.js")
script(type="text/javascript" src="/app/profile/profileController.js")
script(type="text/javascript" src="/app/profile/playlistController.js")


//services
script(type="text/javascript" src="/app/login/loginService.js")
script(type="text/javascript" src="/app/login/identity.js")
script(type="text/javascript" src="/app/login/userResource.js")

